* {
    margin: 0;
    padding: 0;
}



body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.moldura {
  position: relative;
  width: 100vmin;
  height:100vmin;
}

.moldura img {
  position: absolute;
  object-fit: cover;
  border-radius: 8px;
}

/* imagem central ocupa 80% */
.centro {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

/* imagens das bordas ocupam 20% */
.top-left, .top, .top-right,
.left, .right,
.bottom-left, .bottom, .bottom-right {
  width: 20%;
  height: 20%;
}

/* posições */
.top-left     { top: 0; left: -30%; }
.top           { top: 0; left: 40%; }
.top-right     { top: 0; right: -30%; }
.left          { top: 40%; left: -30%; }
.right         { top: 40%; right: -30%; }
.bottom-left   { bottom: 0; left:-30%; }
.bottom        { bottom: 0; left: 40%; }
.bottom-right  { bottom: 0; right:-30%; }


.moldura img:not(.centro):hover {
  transform: scale(1.1) rotate(2deg);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.25);
  z-index: 10;
}



/* estilo geral do alerta */
.alerta {
  position: fixed;
  top: 20px;
  right: 20px;
  background: red;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
  animation: piscar 1s infinite;
  z-index: 9999;
  overflow: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* link que cobre todo o alerta */
.conteudo-alerta {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
}

/* botão X no canto */
.fechar {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  opacity: 0.8;
  transition: opacity 0.3s;
}
.fechar:hover {
  opacity: 1;
}

/* piscar suave */
@keyframes piscar {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.4; }
}

/* animação de saída */
.sumir {
  opacity: 0;
  transform: translateY(-10px);
}
